.shape1 {
  position: absolute;
  left: auto;
  top: -20%;
  right: 0;
  bottom: auto;
  width: 400px;
  height: 400px;
  border-radius: 500px;
  background-color: red;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(27%, #ff7448),
    color-stop(50%, #ff4848),
    color-stop(79%, #6248ff)
  );
  background-image: linear-gradient(
    180deg,
    #ff7448 27%,
    #ff4848 50%,
    #6248ff 79%
  );
  -webkit-filter: blur(100px);

  z-index: -1;
}

.shape2 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #6bffff;
  background-image: url("/assets/images/grain.png"),
    -webkit-gradient(linear, left top, left bottom, from(#ffc145), to(#fff));
  background-image: url("/assets/images/grain.png"),
    linear-gradient(180deg, #ffc145, #fff);
  background-position: 50% 50%, 0 0;
  background-size: auto, auto;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  z-index: -1;
}
