@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800&display=swap");

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grain {
  background: url("/assets/images/grain.png");
  background-repeat: repeat;
  background-size: 600px;
  background-position: 50% 50%;
}

@font-face {
  font-family: "Monument Extended";
  src: url("/assets/fonts/MonumentExtended-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monument Extended";
  src: url("/assets/fonts/MonumentExtended-Ultrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.title-bold {
  font-family: "Monument Extended", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.title-normal {
  font-family: "Monument Extended", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
